<div class="toolbar" role="banner">
  <div class="to-remove-space" style="width: 45px; height: 45px;"></div>
  <span>整理のために</span>
</div>

<div class="content" role="main">
  <h1>ポートフォリオサイトです。</h1>
  <p>内容は随時更新していきます。</p>

  <h2>書く予定の事</h2>
  <ul>
    <li>経歴</li>
    <li>プロフィール</li>
    <li>何を考えてプログラミングを行なっているか。</li>
    <li>何を考えてそれぞれのサイトを作ったか。</li>
  </ul>


  <h2>公開しているサイト一覧。</h2>
  <ul>
    <li><a href="https://enterchain.online/">ブロックチェーンオンライン学習サイト エンターチェイン</a></li>
    <li><a href="https://searchable-memo.info/">検索可能Webメモ帳 SearchableMemo</a></li>
    <li><a href="https://github.com/programmerkgit/PL0KT">Javascript風自作言語</a></li>
    <li><a href="https://layoutgallery-d3703.firebaseapp.com/"><s>フォントやフォントサイズ、フォントカラーをギャラリーみたいに展示して鑑賞できるようにしたサイト Layout
      Gallery</s>=> 整理して削除しました</a></li>
    <li><a href="https://dot-memo.info/"><s>Web Componentを利用し、動的に複雑なHTMLを生成できるブログ。dot memo.</s></a>=> 整理して削除しました</li>
    <li><a href="https://www.npmjs.com/~caffelattte">npmのパッケージとかパブリッシュしてます。</a></li>
  </ul>

  <h2>スキル</h2>
  <ul>
    <li>主なスキル Html/JavaScript/SCSS/CSS/Angular/Typescript/Node.js/Express</li>
    <li>ブロックチェーンスキル：Solidity/Ethereum/Quorum/HyperLedger/Geth</li>
    <li>その他言語など: Firebase/Ruby/Ruby On
      Rails/Python/Django/Go/Kotlin/ElasticSearch/Vue.js/MySQL/MongoDB/GCP/Azure/C#/C/Spring Boot
    </li>
    <li>その他ツールなど: TwitterAPI/SlackAPI/Bootstarap/AngularMaterial/Fess/Wordpress/</li>
  </ul>
  <img src="assets/learning.png" width="600" style="background-size: contain">
  <h2>今求めているもの</h2>
  <p>エンジニア・非エンジニア問わずプロフェッショナルな人と開発をする</p>
  <h2>今年やろうと思っていること(2020)</h2>
  <p>自分の専門を軸足に、サービスなり自分で仕事を取ってくるなりで収益を生んでみる。</p>
  <h2>最近の関心</h2>
  <p>認知と言語とデザイン(設計・レイアウト含む)について考えを深めてより人間フレンドリーなアプリケーションを作る事</p>
  <h2>自分の得意なこと</h2>
  <ul>
    <li>
      <h3>幅広い技術のキャッチアップスピード</h3>
      <p>
        必要なものを必要なタイミングで必要な深さで学び、普段からの基礎トレーニングも怠りません。
        課題解決に必要な技術が新しく出た場合でも現状のスキルに拘らず対応できます。
      </p>
    </li>
    <li>
      <h3>課題解決を外さない開発・設計</h3>
      <p>課題の深ほりにかける時間が非常に長くコーディングに着手するまでの時間が人より非常に長いです。
        が、コーディング時間に対して考える時間は些細なものなので結果完成させるまでの時間は早いです。</p>
    </li>
    <li>
      <h3>プロジェクトの失敗・遅延リスクの察知能力</h3>
      <p>数学で要領よく90点を取る能力ではなく, 100点を取る能力が高いです。
        これは想定能力の高さに起因しており、ミスや矛盾に対する感度が人一倍強いです。
        そのため、プロジェクト失敗になりうるリスク要因を早めに潰す事ができます。
        プロジェクトの上流工程でミスが発覚すると、下流工程で発覚する修正コストの1/30 ~ 1/100程度済ませられるという統計があり、早期のリスク潰しを重視しています。
      </p>
    </li>
    <li>
      <h3>おばちゃんとの雑談が得意</h3>
      <p>エンジニアのステレオタイプにありガチなな対人問題は抱えてません (笑</p>
    </li>
  </ul>

  <h2>リンク</h2>
  <ul>
    <li><a href="https://twitter.com/cojicoj67044353">Twitter</a></li>
    <li><a href="https://github.com/programmerkgit">Github</a></li>
    <li><a href="https://qiita.com/kubocchi">Qiita</a></li>
  </ul>
</div>
