<div class="content" role="main">
  <h1>Kuuuboの自己紹介ページです。</h1>
  <div
    style="width: 100%; max-width: 10rem; height: 10rem; background-size: cover; background-image: url('https://avatars.githubusercontent.com/u/37021071?v=4')"></div>
  <p>内容は随時更新していきます。</p>

  <h2>プロフィール</h2>
  <p>
    ソフトウェアで人類に貢献しようとしている人です。口だけの人が嫌いで、世の中をよくする具体的な一歩を積み重ねています。<br>
    語る必要がある時はプロトタイプやモックを持って伝えています。
  </p>

  <h2>経歴</h2>
  <ol>
    <li>2015 - 慶應大学法学部卒</li>
    <li>2015 - GCストーリー入社: 全国の看板設置プロジェクトのシステム管理など担当</li>
    <li>2018 - Digglueにて<a href="https://enterchain.online/">ブロックチェーン学習サイトEnterChainの開発</a></li>
    <li>2019/3 - digglue入社</li>
    <li>2020 - <a
      href="https://jp.techcrunch.com/2020/12/24/digglue-obayashi-corp/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAACVNAmh6m8RkhwJ9FEoQvUGMaopcOPzlLYM2UxzW7EQ55unqD5EQfWX2zHaG_R_gpDV5zeWXXlOIo_6Ncqz_U70KYpTNl0DjQjw3zfivtgRmTcTfauUqCvU1c76WWXqOrVsCDnFIfVJm7lbMYtqYPbYUTlvXonyUbUtTi4zH_dQq">ブロックチェーンを利用した実証実験プロジェクト</a>を担当
    </li>
    <li>2021 ~ 現在に至る</li>
  </ol>

  <h2>公開しているサイト一覧。</h2>
  <ul>
    <li><a href="https://enterchain.online/">ブロックチェーンオンライン学習サイト エンターチェイン</a></li>
    <li><a href="https://searchable-memo.info/">検索可能Webメモ帳 SearchableMemo</a></li>
    <li><a href="https://github.com/programmerkgit/PL0KT">Javascript風自作言語</a></li>
    <li><a href="https://layout-gallery-9fc62.firebaseapp.com/">フォントやフォントサイズ、フォントカラーをギャラリーみたいに展示して鑑賞できるようにしたサイト
      Layout
      Gallery</a></li>
    <li><a href="https://dot-memo.info/"><s>Web Componentを利用し、動的に複雑なHTMLを生成できるブログ。dot memo.</s></a>=> 整理して削除しました</li>
    <li><a href="https://www.npmjs.com/~caffelattte">npmのパッケージとかパブリッシュしてます。</a></li>
    <li><a href="https://codenote.online/">技術ブログサイトCodeNote</a></li>
    <li><a href="https://note.com/programmerk">Noteで技術記事も少し執筆しています</a></li>
  </ul>

  <h2>スキル</h2>
  <ul>
    <li>主なスキル Html/JavaScript/SCSS/CSS/Angular/Typescript/Node.js/Express/Kotlin</li>
    <li>ブロックチェーンスキル：Solidity/Ethereum/Quorum/HyperLedger/Corda/Geth</li>
    <li>その他言語など: Firebase/Ruby/Ruby On
      Rails/Python/Django/Go/Kotlin/ElasticSearch/Vue.js/MySQL/MongoDB/GCP/Azure/C#/C/Spring Boot
    </li>
    <li>その他ツールなど: TwitterAPI/SlackAPI/Bootstarap/AngularMaterial/Fess/Wordpress/</li>
  </ul>
  <!--  <img src="assets/learning.png" width="600" style="background-size: contain">-->

  <h2>私のリンク</h2>
  <ul>
    <li><a href="https://twitter.com/cojicoj67044353">Twitter</a></li>
    <li><a href="https://github.com/programmerkgit">Github</a></li>
    <li><a href="https://qiita.com/kubocchi">Qiita</a></li>
    <li><a href="https://zenn.dev/aa">Zenn</a></li>
  </ul>
</div>
