<div class="toolbar" role="banner">
  <div class="to-remove-space" style="width: 45px; height: 45px;"></div>
  <span>整理のために</span>
</div>

<div class="content" role="main">
  <h1>ポートフォリオサイトです。</h1>
  <p>内容は随時更新していきます。</p>

  <h2>書く予定の事</h2>
  <ul>
    <li>経歴</li>
    <li>プロフィール</li>
    <li>何を考えてプログラミングを行なっているか。</li>
    <li>何を考えてそれぞれのサイトを作ったか。</li>
  </ul>


  <h2>公開しているサイト一覧。</h2>
  <ul>
    <li><a href="https://enterchain.online/">ブロックチェーンオンライン学習サイト エンターチェイン</a></li>
    <li><a href="https://searchable-memo.info/">検索可能Webメモ帳 SearchableMemo</a></li>
    <li><a href="https://github.com/programmerkgit/PL0KT">Javascript風自作言語</a></li>
    <li><a href="https://layoutgallery-d3703.firebaseapp.com/"><s>フォントやフォントサイズ、フォントカラーをギャラリーみたいに展示して鑑賞できるようにしたサイト Layout
      Gallery</s>=> 整理して削除しました</a></li>
    <li><a href="https://dot-memo.info/"><s>Web Componentを利用し、動的に複雑なHTMLを生成できるブログ。dot memo.</s></a>=> 整理して削除しました</li>
    <li><a href="https://www.npmjs.com/~caffelattte">npmのパッケージとかパブリッシュしてます。</a></li>
  </ul>

  <h2>スキル</h2>
  <ul>
    <li>主なスキル Html/JavaScript/SCSS/CSS/Angular/Typescript/Node.js/Express</li>
    <li>ブロックチェーンスキル：Solidity/Ethereum/Quorum/HyperLedger/Geth</li>
    <li>その他言語など: Firebase/Ruby/Ruby On
      Rails/Python/Django/Go/Kotlin/ElasticSearch/Vue.js/MySQL/MongoDB/GCP/Azure/C#/C/Spring Boot
    </li>
    <li>その他ツールなど: TwitterAPI/SlackAPI/Bootstarap/AngularMaterial/Fess/Wordpress/</li>
  </ul>
  <img src="assets/learning.png" width="600" style="background-size: contain">
  <h2>今求めているもの</h2>
  <p>エンジニア・非エンジニア問わずプロフェッショナルな人と開発をする</p>
  <h2>今年やろうと思っていること(2020)</h2>
  <p>自分の専門を軸足に、サービスなり自分で仕事を取ってくるなりで収益を生んでみる。</p>
  <h2>最近の関心</h2>
  <p>認知と言語とデザイン(設計・レイアウト含む)について考えを深めてより人間フレンドリーなアプリケーションを作る事</p>

  <h2>リンク</h2>
  <ul>
    <li><a href="https://twitter.com/cojicoj67044353">Twitter</a></li>
    <li><a href="https://github.com/programmerkgit">Github</a></li>
    <li><a href="https://qiita.com/kubocchi">Qiita</a></li>
  </ul>
</div>
